In [50]:
import pandas as pd
import numpy as np
import os
import glob
from pathlib import Path

In [51]:
csv_files = glob.glob("/home/muhammad/Desktop/Datasets/dataset_evaluation_EVITA/labeled/*.csv")
#csv_files = "/home/muhammad/Desktop/Datasets/dataset_evaluation_EVITA/labeled/FR_ESE_20_041218_1400_generic_EmoVideoAnnotation_master.csv"

In [52]:
len(csv_files)

66

In [53]:
def extract_data_from_Source_col(label_df):
    filtered_info_collective = []
    col_name = label_df.columns[label_df.columns.str.contains(pat = 'Source')]
    col_name = col_name[0]
    session_labels=label_df[col_name].to_list()
    for single_label in session_labels:
        single_label = str(single_label)
        comma_sep = single_label.replace(';', ',')
        comma_sep_list=comma_sep.split(',')
        #str_list = list(filter(None, comma_sep_list))
        str_list = ['NaN' if x=='' else x for x in comma_sep_list]
        #fileterd_info = str_list
        fileterd_info = [str_eleme.strip() for str_eleme in str_list]
        
        if len(fileterd_info) == 5:
        
            filtered_info_collective.append(fileterd_info)
        
        #print(fileterd_info)
        else:
            filtered_info_collective.append(['NaN', 'NaN', 'NaN', 'NaN', 'NaN'])
        
    return (col_name, filtered_info_collective)

In [54]:
#### Single file Tester------

In [55]:
single_csv_file = "/home/muhammad/Desktop/Datasets/dataset_evaluation_EVITA/labeled/FR_ESE_04_121018_1000_nutrition_EmoVideoAnnotation_master.csv"
label_df = pd.read_csv(single_csv_file)

col_name = label_df.columns[label_df.columns.str.contains(pat = 'Source')]
col_name = col_name[0]
df_old_sliced = label_df.loc[:,label_df.columns != col_name]
df_old_sliced = df_old_sliced.reset_index()

col_name, filtered_info_collective = extract_data_from_Source_col(label_df)
#filtered_info_collective = filtered_info_collective.reset_index()


col_name = ['source','label','start_n','end_n', 'remark']

df_new = pd.DataFrame(filtered_info_collective, columns= col_name)

In [56]:
label_df

   IDType   Start                       End Source;Label;Start_n;End_n;Remarks
4   37039   39925  Both;0;;;incorrect label                   face not visible
4   89426   90026  Both;0;;;incorrect label                                NaN
4  100327  106866  Both;0;;;incorrect label                                NaN
4  145624  147963  Both;5;;;incorrect label                                NaN
4  190087  219822  Both;0;;;incorrect label                                NaN
4  255700  257100  Both;0;;;incorrect label                                NaN

In [36]:
df_old_sliced = df_old_sliced.loc[:,df_old_sliced.columns != 'index']

In [37]:
df_old_sliced

   IDType   Start                       End
0   37039   39925  Both;0;;;incorrect label
1   89426   90026  Both;0;;;incorrect label
2  100327  106866  Both;0;;;incorrect label
3  145624  147963  Both;5;;;incorrect label
4  190087  219822  Both;0;;;incorrect label
5  255700  257100  Both;0;;;incorrect label

In [34]:

df_new

  source label start_n end_n remark
0    NaN   NaN     NaN   NaN    NaN
1    NaN   NaN     NaN   NaN    NaN
2    NaN   NaN     NaN   NaN    NaN
3    NaN   NaN     NaN   NaN    NaN
4    NaN   NaN     NaN   NaN    NaN
5    NaN   NaN     NaN   NaN    NaN

In [35]:
df_old_sliced['index']

0    4
1    4
2    4
3    4
4    4
5    4
Name: index, dtype: int64

In [17]:
df_new_comp

   IDType   Start     End source label start_n end_n           remark
0       3   35519   38174   Both     0     NaN   NaN  incorrect label
1       4   44943   49983   Both     5     NaN   NaN  incorrect label
2       4   68662   74556   Both     1     NaN   NaN  incorrect label
3       4   87955   98875   Both     5     NaN   NaN  incorrect label
4       4  213561  218673   Both     0     NaN   NaN  incorrect label
5       5  244481  249923    NaN   NaN     NaN   NaN              NaN
6       4  286728  290800   Both     0     NaN   NaN  incorrect label

In [44]:
path_new_csv = "/home/muhammad/Desktop/Datasets/dataset_evaluation_EVITA/newly_labeleld/FR_ESE_04_121018_1000_generic_EmoVideoAnnotation_master.csv"
df = pd.read_csv(path_new_csv)

In [45]:
df

,Unnamed: 0,index,IDType,Start,End,source,label,start_n,end_n,remark
0,0,4,96207,102734,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
1,1,4,117887,143911,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
2,2,3,151772,154033,Both;4;;;incorrect label,NaN,NaN,NaN,NaN,NaN
3,3,4,186883,215270,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
4,4,4,249266,272338,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
5,5,4,309596,341870,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
6,6,4,347256,377341,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
7,7,4,404391,408015,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
8,8,3,456369,464197,Both;4;;;incorrect label,NaN,NaN,NaN,NaN,NaN
9,9,4,573081,589205,Both;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
10,10,3,624552,626226,Both;4;;;incorrect label,NaN,NaN,NaN,NaN,NaN
11,11,3,158885,159285,Annotator 2;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
12,12,4,416688,455410,Annotator 2;0;;;incorrect label,NaN,NaN,NaN,NaN,NaN
13,13,5,617865,618865,Annotator 2;3;;;incorrect label,NaN,NaN,NaN,NaN,NaN

In [ ]:
i=0
for csv_file in csv_files:
    label_df = pd.read_csv(csv_file, on_bad_lines='skip')
    col_name = label_df.columns[label_df.columns.str.contains(pat = 'Source')]
    
    this_file = os.path.basename(csv_file)
    dest_dir = "/home/muhammad/Desktop/Datasets/dataset_evaluation_EVITA/newly_labeleld"
    dest_path = os.path.join(dest_dir, this_file)
    print(dest_path)
    if col_name == "Source":
        col_data = label_df["Source"]
        label_df.to_csv(dest_path)

    else:
        col_name = col_name[0]
        df_old_sliced = label_df.loc[:,label_df.columns != col_name]
        df_old_sliced = df_old_sliced.reset_index()
    
    
        session_labels=label_df[col_name].to_list()
        this_file = os.path.basename(csv_file)
        print(this_file)
        col_name, filtered_info_collective = extract_data_from_Source_col(label_df)
        
        
        col_name = ['source','label','start_n','end_n', 'remark']
        
        #filtered_data_1= filtered_info_collective[0]
        #print(len(filtered_data_1))
        df_new = pd.DataFrame(filtered_info_collective, columns= col_name)
        
        df_new_comp = pd.concat([df_old_sliced, df_new], axis=1)
        df_new_comp.to_csv(dest_path)
        print(df_new_comp)
        #print(filtered_info_collective)
    
    #print(col_name)
    #cols= label_df.columns
    #print(cols)

NameError: name 'col_name_from_source' is not defined

Index(['IDType', 'Start', 'End', 'Source;label;start_n ;end_n ;remark '], dtype='object')

RangeIndex(start=0, stop=7, step=1)

['Both', '0', 'incorrect label']

'Source;label;start_n ;end_n ;remark '

### ---- old way---

In [ ]:
csv_file_names = []
total_labels_sessions = []
incorrect_label_sessions = []
incorrect_percentage_sessions = []
manual_flags = []

for csv_file in csv_files:
    #label_df= pd.read_csv(csv_file)
    #print(csv_file)
    label_df= pd.read_csv(csv_file, on_bad_lines='skip')
    this_file = os.path.basename(csv_file)
    #print(csv_file)
    i =0
    for col in label_df.columns:
        if col.startswith("Source"):
            #print(col)
            session_labels=label_df[col].to_list()
            
            #print(session_labels)
            
            total_labels = len(session_labels)
            
            for single_label in session_labels:
                
                single_label=str(single_label)
                
                splitted_info = single_label.split(';')
                
                #if "Both" and "incorrect label" in splitted_info:
                if ("incorrect label" or "incorrect label ") in splitted_info:
                    i=i+1
                    
                #elif ("face not visible") in splitted_info:
                    #print("face_not_detected")
                    
                            
            print(csv_file)      
            incorrect_percentage=(i/total_labels)*100
            if incorrect_percentage < 50:
                manual_flag = 'true'
            else:
                manual_flag = 'false'
                
                
    csv_file_names.append(this_file)
    total_labels_sessions.append(total_labels)
    incorrect_label_sessions.append(i)
    incorrect_percentage_sessions.append(incorrect_percentage)
    manual_flags.append(manual_flag)
    

                
labeling_info = {'file_name': csv_file_names, "total_labels": total_labels_sessions, 'incorrect_labels': incorrect_label_sessions, 'incorrect_percentage': incorrect_percentage_sessions, 'check_manually': manual_flags}

In [104]:
labeling_info_df = pd.DataFrame.from_dict(labeling_info)

In [105]:
labeling_info_df

,file_name,total_labels,incorrect_labels,incorrect_percentage,check_manually
0,FR_ESE_23_140119_1000_nutrition_EmoVideoAnnota...,3,3,100.000000,false
1,FR_ESE_11_301018_1500_nutrition_EmoVideoAnnota...,6,5,83.333333,false
2,FR_ESE_12_311018_1500_generic_EmoVideoAnnotati...,6,5,83.333333,false
3,FR_ESE_16_211118_1400_generic_EmoVideoAnnotati...,48,23,47.916667,true
4,FR_ESE_07_221018_1400_generic_EmoVideoAnnotati...,19,19,100.000000,false
...,...,...,...,...,...
61,FR_ESE_17_261118_1000_nutrition_EmoVideoAnnota...,11,11,100.000000,false
62,FR_ESE_14_191118_1400_generic_EmoVideoAnnotati...,3,2,66.666667,false
63,FR_ESE_29_171218_1600_generic_EmoVideoAnnotati...,21,21,100.000000,false
64,FR_TUN_01_010219_1400_nutrition_EmoVideoAnnota...,4,0,0.000000,true
65,FR_ESE_15_160119_1100_nutrition_EmoVideoAnnota...,7,0,0.000000,true

In [107]:
labeling_info_df.to_csv("evita_french_data_annotation_quality_check.csv")

In [88]:
label_df = pd.read_csv(path,  on_bad_lines='skip')

In [89]:
label_df

   IDType   Start     End                  Source;label;start_n;end_n;remark
0       3    1670   11219  Both;4;;;"incorrect label; hands cover the fac...
1       3  109090  112134                           Both;4;;;incorrect label
2       4  482936  487337                 Both;4;;;talking to another person
3       3  494086  503872  Both;0;;;"incorrect label; talking to another ...
4       3   54229   55822                    Annotator 2;0;;;incorrect label

In [74]:
i =0
for col in label_df.columns:
    if col.startswith("Source"):
            #print(col)
        session_labels=label_df[col].to_list()
            
            #print(session_labels)
            
        total_labels = len(session_labels)
            
        for single_label in session_labels:
                
            single_label=str(single_label)
                
            splitted_info = single_label.split(';')
            
            print(splitted_info)
                
            #if "Both" and "incorrect label" in splitted_info:
            if ("incorrect label " or "incorrect label" )in splitted_info:
                i=i+1
                    
                    
        print(csv_file)        
        print(i/total_labels)

['Both', '0', '', '', 'incorrect label ']
['Both', '5', '', '', 'incorrect label ']
['Both', '1', '', '', 'incorrect label ']
['Both', '5', '', '', 'incorrect label ']
['Both', '0', '', '', 'incorrect label ']
['Both', '5', '', '', '"incorrect label', ' talking to another person "']
['Both', '0', '', '', 'incorrect label ']
/home/muhammad/Desktop/Datasets/dataset_evaluation_EVITA/labeled/FR_ESE_15_160119_1100_nutrition_EmoVideoAnnotation_master.csv
0.8571428571428571

In [ ]:
 
        
        
        
        
    ###-------------------------------
    #if "remark" in label_df.columns:
    #ä    print('yes')
    #else:
    #    print('no')
        
        #session_labels= label_df["Source;Label;Start_n;End_n;Remark"].to_list()
        #total_labels = len(session_labels)
        #i = 0

        #for single_label in session_labels:
         #   splitted_info = single_label.split(';')
         #   if "Both" and "incorrect label" in splitted_info:
          #      i=i+1
                #print(i)
            #else:
             #   print('correct_label')

        #wrongly_classified_percentage = i/total_labes
        #print(wrongly_classified_percentage)